<div class="side-header">
  <div class= "side-name">
    <a href = "#">TOM</a>
  </div>
  
  <div class="side-newroom">
    <a href = "#">チャットを作成する</a>
  </div>
</div>

<div class="side-rooms">
  <div class="side-list"> 
    <div class= "side-roomlist">
      <a href="#">techroom1</a>
    </div>
  </div>

  <div class="side-list"> 
    <div class= "side-roomlist">
      <a href="#">techroom2</a>
    </div>
  </div>


</div>